.toggle-bar {
  display: flex;
  justify-content: flex-end;
 

  .toggle-btn {
    background: #f0f4fa;
    border: 1px solid #d3e3fc;
    color: #3a4b63;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    box-shadow: 0 1px 4px #d4e2ef10;
    transition: background 0.2s, color 0.2s, border 0.2s, box-shadow 0.19s;

    &:hover, &.active {
      background: linear-gradient(to right, #4fc3f7 0%, #38d39f 100%);
      color: #fff;
      border-color: #38d39f;
      box-shadow: 0 4px 16px #38d39f18;
    }

    svg {
      display: block;
      margin: auto;
    }
  }
}
